.tableHead {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  line-height: 50px;
  border: 1px solid black;

  div {
    width: 14%;

    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }
}

.patient {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
  border-top: none;

  div {
    width: 14%;

    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;

  li {
    display: inline-block;
    a {
      padding: 10px 15px;
      border: 2px solid black;

      &:focus {
        color: white;
        background-color: slategrey;
      }
    }
  }
}
